.img-content-box{
    padding-top: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
}
.img-content-pr{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.box {
    background-color: rgb(161, 238, 242);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 20%;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    
    
}
.box img {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.box p {
    margin: 10px 0 0;
    font-size: 16px;
}
